[submodule "puppet/modules/jenkins"]
	path = puppet/modules/jenkins
	url = https://github.com/jenkinsci/puppet-jenkins
[submodule "puppet/modules/profile_jenkins"]
	path = puppet/modules/profile_jenkins
	url = git@github.com:roidelapluie/puppet-profile_jenkins.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/java"]
	path = puppet/modules/java
	url = https://github.com/puppetlabs/puppetlabs-java.git
